---
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props || { title: "Portfolio" };
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/foto_renault.jpeg?v=2" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	<body class="bg-[#111111] text-white font-sans antialiased relative">
		
		<div 
			id="spotlight" 
			class="pointer-events-none fixed inset-0 z-30 transition-opacity duration-300 opacity-0"
			style="background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(21, 73, 216, 0.25), transparent 30%);"
		></div>

		<slot />

		<script>
			const spotlight = document.getElementById('spotlight');
			
			document.addEventListener('mousemove', (e) => {
				if (spotlight) {
					// Hacemos visible el foco en cuanto mueves el ratón
					spotlight.style.opacity = '1';
					
					// Movemos el centro del gradiente a la posición del ratón
					// Usamos clientX/Y para que sea relativo a la ventana visible
					spotlight.style.background = `radial-gradient(600px circle at ${e.clientX}px ${e.clientY}px, rgba(21, 73, 216, 0.25), transparent 40%)`;
				}
			});
		</script>
	</body>
</html>

<style is:global>
    /* Estilos globales normales */
    html { scroll-behavior: smooth; }
    body { margin: 0; }

    
</style>