---
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props || { title: "Portfolio" };
---

<!doctype html>
	<html lang="es">
		<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="icon" type="image/jpeg" href="/foto_renault.jpeg?v=2" />
		
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>

		<meta name="description" content="Portfolio de Daniel Linfon. Ingeniero Inform치tico especializado en Data Science, IA y Desarrollo Web. Echa un vistazo a mis proyectos y experiencia." />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://daniellinfon.vercel.app/" />
		<meta property="og:title" content="Daniel Linfon - Computer Science Engineer" />
		<meta property="og:description" content="Software Engineer | Data & AI | Renault Group" />
		<meta property="og:image" content="/preview.png" />
	</head>
		
	<body class="bg-[#111111] text-white font-sans antialiased relative">
		
		<div 
			id="spotlight" 
			class="pointer-events-none fixed inset-0 z-30 transition-opacity duration-300 opacity-0"
			style="background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(21, 73, 216, 0.25), transparent 30%);"
		></div>

		<slot />

		<script>
			const spotlight = document.getElementById('spotlight');
			
			document.addEventListener('mousemove', (e) => {
				if (spotlight) {
					// Hacemos visible el foco en cuanto mueves el rat칩n
					spotlight.style.opacity = '1';
					
					// Movemos el centro del gradiente a la posici칩n del rat칩n
					// Usamos clientX/Y para que sea relativo a la ventana visible
					spotlight.style.background = `radial-gradient(600px circle at ${e.clientX}px ${e.clientY}px, rgba(21, 73, 216, 0.25), transparent 40%)`;
				}
			});
		</script>
	</body>
</html>

<style is:global>
    /* Estilos globales normales */
    html { scroll-behavior: smooth; }
    body { margin: 0; }

    
</style>